@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #0c0c0c;
  caret-color: transparent;
  cursor: default;
  color: azure;
}

*:focus {
  outline: none !important;
}

@-webkit-keyframes slidein {
  from {
    margin-bottom: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  30% {
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
  }
  40% {
    -webkit-transform: rotate(-19deg);
            transform: rotate(-19deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.2;
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  30% {
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
  }
  40% {
    -webkit-transform: rotate(-19deg);
            transform: rotate(-19deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.2;
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

.FirstPage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FirstPage #jN {
  padding: 15px;
}

.FirstPage #addJob {
  position: absolute;
  margin-left: 40vw;
  top: 5px;
  margin-top: 40px;
  left: 5px;
  height: 36px;
  font-size: 15px;
  padding: 6px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 15px;
}

.FirstPage #removeJob {
  position: absolute;
  margin-right: 40vw;
  margin-top: 40px;
  top: 5px;
  right: 5px;
  font-size: 15px;
  height: 36px;
  padding: 6px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 15px;
}

.FirstPage .jobDispl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 15px;
  margin-bottom: 5vh;
}

.FirstPage .jobArrow {
  font-size: 38px;
}

.flexWrapNav {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.flexWrapNav .flexWrapButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.dateNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dateNav #animateDate {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 2px;
  padding-right: 10px;
}

.inputField {
  margin-top: 7vh;
  text-align: center;
  font-size: 18px;
  width: 150px;
  padding: 10px;
  border-radius: 15%;
  caret-color: azure;
}

.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.inputField [type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.hourSelect {
  display: -ms-grid;
  display: grid;
  caret-color: transparent;
  cursor: pointer;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5%;
  padding: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.hourSelect .numberList {
  border-radius: 50%;
  border: black 1px solid;
  color: black;
  width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 40px;
  padding: 7px;
}

.hourSelect #toggleIcon {
  font-size: 23px;
}

.hourSelect #timeOfDayIcon {
  font-size: 25px;
}

.buttons {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  background-color: whitesmoke;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

#save {
  display: block;
  margin: auto;
  background-color: #3be294;
  color: black;
  font-family: "Heebo", sans-serif;
  border: none;
}

#delete {
  display: block;
  margin: auto;
  background-color: #e03f3f;
  color: black;
  font-family: "Heebo", sans-serif;
}

.timeArrow {
  font-size: 50px;
  font-weight: 100;
  opacity: 0.7;
}

.hButton {
  caret-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-weight: 300;
  font-size: 37px;
  text-align: center;
}

.hourPad {
  height: 20vh;
  width: 200px;
  text-align: center;
  margin-top: 7px;
}

.popUpWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popUpWrapper .popUp {
  position: fixed;
  top: 5vh;
  padding: 15px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #0c0c0c;
  color: #3be294;
  font-weight: 900;
  font-size: 16px;
  opacity: 0.7;
}

.jobName {
  margin-bottom: 50px;
  margin-top: 20px;
}

.jobName .miniFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jobName .formWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jobName #placeHolder {
  height: 35px;
  margin-top: 5px;
}

.jobName #saveJob {
  margin-top: 5px;
  font-size: 25px;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border: none;
  background-color: #2f2f2f;
}

.jobName #cancelJobEntry {
  margin-top: 5px;
  font-size: 25px;
  height: 35px;
  width: 35px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border: none;
  background-color: #2f2f2f;
  color: #a57a7a;
  font-weight: bold;
  font-size: 1.2em;
}

.displInfoMain {
  position: fixed;
  bottom: 15px;
  text-align: center;
  opacity: 0.4;
  color: rgba(255, 238, 0, 0.808);
}

@-webkit-keyframes oscil1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
  25% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
            animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
  75% {
    -webkit-transform: rotate(-170deg);
            transform: rotate(-170deg);
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
            animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes oscil1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
  25% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
            animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
  75% {
    -webkit-transform: rotate(-170deg);
            transform: rotate(-170deg);
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
            animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.1;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.8;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
            animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
  }
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.1;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
}

@-webkit-keyframes glow {
  100% {
    opacity: 0.3;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
  50% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
            animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
  }
  0% {
    opacity: 0.3;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
}

@keyframes glow {
  100% {
    opacity: 0.3;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
  50% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
            animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
  }
  0% {
    opacity: 0.3;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
            animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
}

.logoDiv {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  overflow: hidden;
}

.logoDiv .logo {
  -webkit-animation: spin 6s ease-in-out infinite;
  animation: spin 6s ease-in-out infinite;
  height: 300px;
  width: 300px;
  margin-top: 15px;
  background-color: #000000;
}

.logoDiv .info {
  position: fixed;
  padding-bottom: 15px;
  bottom: 0px;
  margin-left: 10px;
  width: 100%;
  font-size: 14px;
  -webkit-animation: glow 6s ease-in-out infinite;
          animation: glow 6s ease-in-out infinite;
  background-color: #000000;
  padding: 10px;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 5px;
}

.modalButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.modal {
  position: fixed;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  z-index: 4;
}

.modal .okModal {
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
}

@media (max-width: 1024px) {
  .FirstPage #addJob {
    margin-left: 30vw;
  }
  .FirstPage #removeJob {
    margin-right: 30vw;
  }
}

@media (max-width: 480px) {
  .FirstPage #addJob {
    margin-left: 0;
    margin-top: 0;
  }
  .FirstPage #removeJob {
    margin-right: 0;
    margin-top: 0;
  }
}

@media (orientation: landscape) and (max-height: 900px) {
  .FirstPage #addJob {
    margin-left: 0;
    margin-top: 0;
  }
  .FirstPage .jobDispl {
    margin-top: 40px;
  }
  .FirstPage #removeJob {
    margin-right: 0;
    margin-top: 0;
  }
}

#swipeIcon {
  position: absolute;
  bottom: 10vh;
  height: 60px;
  margin-top: 50px;
  opacity: 0.8;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
  z-index: 8;
}
/*# sourceMappingURL=mainStyle.css.map */