* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: azure;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.monthWhole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#dropMonths {
  display: inline;
  font-size: 20px;
  margin-left: 10px;
}

.icons {
  font-size: 37px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.monthList {
  font-size: 25px;
  background-color: blueviolet;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
  margin-left: 10px;
  padding: 2px;
  list-style-type: none;
  align-self: flex-start;
  animation: growDown 200ms ease-in-out forwards;
}

.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: start;
  text-align: center;
  margin-top: 40px;
  padding-top: 5px;
  font-size: 12px;

  height: 500px;

  .childDiv {
    border-right: white 1px dotted;
  }
}
li {
  list-style-type: none;
}

.childLi:nth-child(even) {
  background-color: rgb(24, 24, 24);
}

.childLi {
  padding-top: 5px;
}

.title {
  background-color: rgb(90, 84, 25);
  padding-top: 3px;
  padding-bottom: 4px;
}

.totalLi {
  background-color: rgb(88, 15, 15);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  border-radius: 20px;
}

.startColor {
  color: #5de6da;
}
