@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: azure;
}
@keyframes slidein {
  from {
    margin-bottom: 100%;

    opacity: 0;
  }

  to {
    margin-top: 0%;

    opacity: 1;
  }
}

.FirstPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #jN {
    margin-bottom: 6vh;
    padding: 15px;
  }
  #addJob {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
    padding: 5px;

    border-top: 2px rgb(163, 30, 30);
    border-left: 2px;
    border-radius: 15px;
  }
  #removeJob {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    padding: 5px;

    border-top: 2px rgb(163, 30, 30);
    border-right: 2px;
    border-radius: 15px;
  }
  .jobDispl {
    display: flex;
    justify-content: center;
    font-size: 15px;
  }
  .jobArrow {
    font-size: 30px;
  }
}

.flexWrapNav {
  animation-duration: 0.5s;
  animation-name: slidein;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .flexWrapButtons {
    display: flex;
    gap: 15px;
  }
}

.dateNav {
  font-size: 2em;
  #animateDate {
    padding-right: 10px;
  }
}

.inputField {
  margin-top: 7vh;
  text-align: center;
  font-size: 20px;
  width: 150px;
  padding: 5px;
  border-radius: 15%;
}
.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.inputField [type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.hourSelect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5%;
  padding: 5%;
  align-content: center;
  justify-content: center;
  margin-bottom: 15px;

  .numberList {
    border-radius: 50%;
    border: black 1px solid;
    color: black;
    width: 40px;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 7px;
  }

  #toggleIcon {
    font-size: 23px;
  }
  #timeOfDayIcon {
    font-size: 25px;
  }
}

.buttons {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  background-color: whitesmoke;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

#save {
  display: block;
  margin: auto;
  background-color: #3be294;
  color: black;
  font-family: "Heebo", sans-serif;
  border: none;
}
#delete {
  display: block;
  margin: auto;
  background-color: #e03f3f;
  color: black;
  font-family: "Heebo", sans-serif;
}

.timeArrow {
  font-size: 50px;
  font-weight: 100;
  opacity: 0.7;
}

.hButton {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-weight: 300;
  font-size: 37px;
  text-align: center;
}

.hourPad {
  height: 20vh;
  width: 200px;
  text-align: center;
}

.popUpWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .popUp {
    position: fixed;
    top: 5vh;

    padding: 15px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: black;
    color: rgb(59, 226, 148);
    font-weight: 900;

    font-size: 16px;
    opacity: 0.7;
  }
}

.jobName {
  margin-bottom: 50px;
  margin-top: 20px;

  .miniFlex {
    display: flex;
    align-items: center;
  }

  #placeHolder {
    height: 35px;
    margin-top: 5px;
  }

  #saveJob {
    margin-top: 5px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border: none;
    background-color: rgb(47, 47, 47);
  }
}

.displInfoMain {
  position: fixed;
  bottom: 15px;
  text-align: center;
  opacity: 0.4;
  color: rgba(255, 238, 0, 0.808);
}
